.center {
width: 100%;
text-align: center;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    width:100%;
    text-align: center;
    padding: 0;
    margin: 0;
}		

		.nav-glyphish-example .ui-btn .ui-btn-inner { padding-top: 40px !important; }
		.nav-glyphish-example .ui-btn .ui-icon { width: 30px!important; height: 30px!important; margin-left: -15px !important; box-shadow: none!important; -moz-box-shadow: none!important; -webkit-box-shadow: none!important; -webkit-border-radius: 0 !important; border-radius: 0 !important; }
		#search .ui-icon { background:  url(06-magnify.png) 50% 50% no-repeat; background-size: 24px 24px; }
		#profile .ui-icon { background:  url(111-user.png) 50% 50% no-repeat; background-size: 24px 24px;  }
		#bookmarks .ui-icon { background:  url(29-heart.png) 50% 50% no-repeat;  background-size: 24px 24px; }
        #login .ui-icon { background:  url(63-runner.png) 50% 50% no-repeat;  background-size: 24px 24px; }